<div class="grid grid-cols-1 p-2 bg-white border shadow-xs sm:grid-cols-3 rounded-xl" data-controller="early-mortgage-payoff-calculator">
  <%= form_with html: { class: "bg-gray-25 p-4 rounded-lg flex flex-col gap-4 col-span-1", data: { action: "change->early-mortgage-payoff-calculator#calculate input->early-mortgage-payoff-calculator#calculate" }} do |form| %>
    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :loan_amount, label: "Loan amount", value: 500000, unit_symbol: "$", data: { controller: "autonumeric", action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :original_term, label: "Original loan term", value: 30, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :years_left, label: "Years left on loan", value: 30, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :interest_rate, label: "Interest rate", value: @loan_interest_rate_30, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :extra_payment, label: "Extra monthly payment", value: 500, unit_symbol: "$", data: { controller: "autonumeric", synchronized_input_target: "input", action: "synchronized-input#syncValue input->early-mortgage-payoff-calculator#calculate" } %>
      <%= range_input_slider class: "from-pink-500 to-pink-500", min: 0, max: 2000, step: 100, value: 500 %>
    </div>

    <h4 class="text-base font-medium text-gray-700 mt-4">What if you invested instead?</h4>

    <div data-controller="synchronized-input" class="flex flex-col gap-2">
      <%= form.unit_field :savings_rate, label: "Annual investment return", value: 4, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 }, action: "input->early-mortgage-payoff-calculator#calculate" } %>
    </div>

    <div class="mt-auto">
      <%= form.submit "Calculate", class: "hidden" %>
    </div>
  <% end %>

  <div class="col-span-2 px-6 py-2">
     <div class="w-full space-y-6">
    <!-- Interest savings -->
    <div class="grid grid-cols-2 w-full flex-wrap gap-2">
      <div class="w-full rounded-lg bg-green-50 p-4">
        <h3 class="text-sm font-medium text-green-800">Interest savings</h3>
        <p class="text-3xl font-semibold text-green-600">$237,562.13</p>
      </div>
      <!-- Interest savings -->
      <div class="w-full rounded-lg bg-yellow-50 p-4">
        <h3 class="text-sm font-medium text-yellow-800">Time saved on mortgage</h3>
        <p class="text-3xl font-semibold text-yellow-600">9 years, 3 months</p>
      </div>

      <!-- Investment account balance -->
      <div class="w-full rounded-lg bg-blue-50 p-4">
        <h3 class="text-sm font-medium text-blue-800">Investment account balance</h3>
        <p class="text-3xl font-semibold text-blue-600">$194,168.41</p>
      </div>

      <div class="w-full rounded-lg bg-red-50 p-4">
        <h3 class="text-sm font-medium text-red-800">Net difference</h3>
        <p class="text-3xl font-semibold text-red-600">-$43,393.72</p>
      </div>
    </div>

    <div class="space-y-4 rounded-lg bg-[#FAFAFA] p-6">
      <div class="flex grid-cols-2 gap-4 justify-between">
        <div>
          <h4 class="text-sm font-medium text-gray-600">Total interest</h4>
          <div class="flex items-baseline">
            <span class="text-3xl font-semibold text-gray-900">$665,084.58</span>
          </div>
        </div>
        <div>
          <h4 class="text-sm font-medium text-gray-600 flex items-start">Total interest</span></h4> 
          <div class="flex items-baseline">
            <span class="text-3xl font-semibold text-gray-900">$427,522.45</span>
            
          </div>
        </div>
      </div>

      <div class="flex grid-cols-2 gap-4 justify-between ">
        <div>
          <h4 class="text-sm font-medium text-gray-600">Principal + Interest</h4>
          <div class="flex items-baseline">
            <span class="text-3xl font-semibold text-gray-900">$1,165,084.58</span>
          </div>
        </div>
        <div>
          <h4 class="text-sm font-medium text-gray-600">Principal + Interest </h4>
          <div class="flex items-baseline">
            <span class="text-3xl font-semibold text-gray-900">$927,522.45</span>
          </div>

          
        </div>
        
      </div>

      <div class="flex justify-between">

 <span class=" text-xs text-gray-500 mr-14">Original*</span>
 <span class=" text-xs text-gray-500 mr-14">With extra payments*</span>

      </div>
      <div class="flex items-center justify-between border-t border-gray-200 pt-2 ">
        <div>
          <h4 class="text-sm font-medium text-gray-600">Original payoff date</h4>
          <p class="text-3xl font-semibold text-gray-900">August 2054</p>
        </div>
        <div class="mr-10">
          <h4 class="text-sm font-medium text-gray-600">New payoff date</h4>
          <p class="text-3xl font-semibold text-gray-900">May 2045</p>
        </div>
      </div>
    </div>

    <p class="mt-1 text-sm text-gray-500 font-medium">Paying off the mortgage early could potentially save you more money than investing the extra payments.

    </p>
  </div>
  </div>
</div>