<section class="flex flex-col justify-between h-full px-8 py-8">
  <div class="flex flex-col justify-between">

  <div class="flex flex-col gap-2">
    <p class="font-normal text-gray-500">From birth to 18 years old, your <%= tool.children %> children will cost</p>
    <p class="text-4xl font-medium text-gray-900"><%= number_to_currency(tool.total_cost) %></p>
  </div>
  <hr class="color-[#0B0B0B14] my-4">
  <div class="grid grid-cols-2 gap-y-4">
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">Yearly</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.yearly_cost) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">Monthly</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.monthly_cost) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">Daily</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.daily_cost) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">% of annual income</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_percentage(tool.percentage_of_income, precision: 2) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">Total cost per child</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.total_cost_per_child) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">Monthly income after expenses</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.monthly_income_after_expenses) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">Daycare cost per child</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.daycare_cost_per_child) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">College cost per child</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.college_cost_per_child) %></p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-gray-500 text-sm">Extracurricular cost per child</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.extracurricular_cost_per_child) %></p>
    </div>
  </div>
  </div>
  <p class="mt-4 text-sm text-gray-500">
    Note: These calculations are estimates based on the provided information and assume consistent expenses over 18 years.
  </p>
</section>