<div class="relative p-4">
  <p class="text-gray-500 text-sm mb-2">Your initial <%= number_to_currency(tool.initial_investment) %> investment would grow to</p>
  <p class="text-4xl font-medium text-gray-900 mb-6"><%= number_to_currency(tool.final_investment_value, precision: 2) %></p>
  <%= tag.div class: "h-96", data: {
        controller: "time-series-lines-chart",
        time_series_lines_chart_series_value: tool.legend_data.to_json,
        time_series_lines_chart_data_value: tool.plot_data.to_json,
        time_series_lines_chart_show_legend_value: false } %>
  <div class="flex justify-between">
    <div>
      <p class="text-gray-500 text-sm mb-2">Profit</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.profit) %></p>
    </div>
    <div>
      <p class="text-gray-500 text-sm mb-2">Annual return</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_percentage(tool.annual_return, precision: 2) %></p>
    </div>
    <div>
      <p class="text-gray-500 text-sm mb-2">Yearly dividends</p>
      <p class="text-xl font-medium text-gray-900"><%= number_to_currency(tool.yearly_dividends) %></p>
    </div>
  </div>
</div>