<%= form_with method: :get, data: { turbo_frame: frame_id } do |form| %>
  <div class="flex flex-col gap-2">
    <%= form.unit_field :loan_amount, label: "Loan amount", value: tool.loan_amount, unit_symbol: "$", data: { controller: "autonumeric" } %>
  </div>

  <div class="flex gap-4">
    <div class="relative flex flex-col gap-2">
      <%= form.unit_field :loan_term, label: "Loan term", value: tool.loan_term, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
    </div>

    <div class="relative flex flex-col gap-2">
      <%= form.unit_field :interest_rate, label: "Interest rate", value: tool.interest_rate, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 } } %>
    </div>
  </div>

  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :elapsed_time, label: "Elapsed time", value: tool.elapsed_time, label_right: "years", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 0 } } %>
  </div>

  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :additional_payment, label: "Additional payment", value: tool.additional_payment, unit_symbol: "$", data: { controller: "autonumeric" } %>
  </div>

  <div class="relative flex flex-col gap-2">
    <%= form.unit_field :annual_investment_return, label: "Annual investment return", value: tool.annual_investment_return, label_right: "%", data: { controller: "autonumeric", autonumeric_options_value: { decimalPlaces: 2 } } %>
  </div>

  <div class="mt-auto">
    <%= form.submit "Calculate" %>
  </div>
<% end %>